

<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
    <meta name="360-site-verification" content="fe248e685636c6afe831c23af1352579">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


    <title>我的定制</title>
    <link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="/static/css/venders.min.css?v106">
    <script src="/static/js/venders.min.js?v106"></script>
    <script>
        var langroot = '';
        var langcode = 'zh-cn';
    </script>




                <link rel="stylesheet" type="text/css" href="/static/css/common.min.css?v124">

            <script src="/static/js/common.min.js?v124"></script>








</head>
<body class="">






<div class="container container-fluid header">

    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                data-target="#subnavs" aria-expanded="false" aria-controls="subnavs">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="https://www.walanwalan.com/">
            <img src="/static/images/v5/logo.png?v1" width="98" height="34" alt="">
        </a>
    </div>

    <div class="navbar-left mainnavs">
        <ul class="list-inline">
            <li><a href="/">首页</a></li>
            <li>
                <a href="/designs/all/page1/">花型</a>
                <div class="filters hidden-xs">
                    <ul class="list-unstyled">
                        <li class="areas">
                            <a href="/designs/30/page1/">公开区</a>
                            <span>|</span>
                            <a href="/designs/31/page1/">VIP区</a>
                            <span>|</span>
                            <a href="/collections/album/list/all/page1/">趋势花型</a>
                            <span>|</span>
                            <a href="/albums/list/3/page1/">主题花型</a>
                            <span>|</span>
                            <a href="/designs/all/page1/">全部花型 <span
                                    style="font-size: 12px;" class="glyphicon glyphicon-menu-right"></span></a>
                        </li>
                        <li>
                            <span>应用：</span>
                            <a href="/designs/3/page1/">女装</a>
                            <a href="/designs/49/page1/">男装</a>
                            <a href="/designs/50/page1/">童装</a>
                            <a href="/designs/46/page1/">泳装</a>
                            <a href="/designs/2/page1/">床品</a>
                            <a href="/designs/44/page1/">窗帘</a>
                            <a href="/designs/47/page1/">沙发布</a>
                            <a href="/designs/51/page1/">墙纸</a>
                            <a href="/designs/1/page1/">长巾</a>
                            <a href="/designs/97/page1/">方巾</a>
                            <a href="/designs/48/page1/">箱包</a>
                            <a href="/designs/4/page1/">其他</a>
                        </li>
                        <li>
                            <span>内容：</span>
                            <a href="/designs/15/page1/">抽象</a>
                            <a href="/designs/16/page1/">动物纹</a>
                            <a href="/designs/17/page1/">格子</a>
                            <a href="/designs/18/page1/">花卉</a>
                            <a href="/designs/19/page1/">几何</a>
                            <a href="/designs/20/page1/">卡通</a>
                            <a href="/designs/21/page1/">民族风</a>
                            <a href="/designs/23/page1/">佩斯利</a>
                            <a href="/designs/24/page1/">风景</a>
                            <a href="/designs/26/page1/">休闲风</a>
                            <a href="/designs/37/page1/">条纹</a>
                            <a href="/designs/38/page1/">珠宝宝石</a>
                            <a href="/designs/40/page1/">热带</a>
                            <a href="/designs/54/page1/">趣味</a>
                            <a href="/designs/55/page1/">肌理</a>
                            <a href="/designs/56/page1/">迷彩</a>
                            <a href="/designs/57/page1/">鸟／昆虫</a>
                            <a href="/designs/58/page1/">黑白</a>
                            <a href="/designs/59/page1/">中国风</a>
                        </li>
                        <li>
                            <span>类别：</span>
                            <a href="/designs/28/page1/">数码花型</a>
                            <a href="/designs/29/page1/">传统花型</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li><a href="/collections/customization/landing/">定制</a></li>

            <li><a href="/copyright/">版权</a></li>
            <li><a href="/printer/landing/">打印</a></li>

            <li><a href="/gallery/all/page1/">素材</a></li>

            <li><a href="/pages/1715/?viewmode=fullscreen" target="_blank">APP</a></li>
            <li class="special">
                <a href="#">
                    <img src="/static/images/v5/icon_dot.png?v2" width="16" alt="">
                </a>
                <div class="dropdown">
                    <ul class="dropdown-menu">
                        <li>
                            <a href="/infos/page1/?sign=recommend">发现</a>
                        </li>
                        <li>
                            <a href="/shows/all/page1/">秀场直击</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>

    <div class="navbar-right iconnavs hidden-sm hidden-xs">
        <ul class="list-inline">
            <li>
                <a class="linkitem" href="/console/cart/">
                    <span class="badge"></span>
                    <img src="/static/images/v5/icon_cart.png?v2" width="30" alt="购物车"/>
                </a>
            </li>
            <li>
                <a class="linkitem" href="/console/letters/page1/">
                    <span class="badge badgebull">&bull;</span>
                    <img src="/static/images/v5/icon_notice.png?v2" width="30" alt=""/>
                </a>
            </li>
            <li>
                <div class="dropdown">
                    <a class="linkitem" id="profilecenter" data-target="#" data-toggle="dropdown"
                       role="button" aria-haspopup="true" aria-expanded="false">
                        <img src="/static/images/v5/icon_profile.png?v2" width="30" alt=""/>
                    </a>


                        <ul class="dropdown-menu" aria-labelledby="profilecenter">

                                <li><a href="/console/orders/page1/">我的订单</a>
                                </li>


                            <li><a href="/console/favorites/page1/">收藏夹</a>
                            </li>
                            <li><a href="/console/">我的瓦栏</a></li>
                            <li><a href="/console/infos/page1/">资讯管理</a></li>








                                <li><a href="/console/studio/">开通工作室</a></li>


                            <li><a href="/accounts/logout/">退出</a></li>
                        </ul>

                </div>
            </li>
            <li>
                <form action="/lang/?next=refer" method="post">
                    <input type='hidden' name='csrfmiddlewaretoken' value='usido7suJqwxg9ZrMgIIUrNGX9LRteCT' />

                    <input type="hidden" name="refer" value="/collections/customization/my/page1/">

                        <input type="hidden" name="lang" value="en">
                        <a class="linkitem" href="#" onclick="$(this).parent().submit();">EN</a>

                </form>
            </li>
        </ul>
    </div>

    <nav class="collapse navbar-collapse subnavs" id="subnavs">
        <ul class="nav navbar-nav">

                <li role="separator" class="divider"></li>
                <li><a href="/console/letters/page1/">站内信</a></li>

                <li><a href="/console/cart/">购物车</a></li>
                <li><a href="/console/orders/page1/">我的订单</a></li>
                <li><a href="/console/favorites/page1/">收藏夹</a></li>
                <li><a href="/console/">我的瓦栏</a></li>
                <li><a href="/console/infos/page1/">资讯管理</a></li>


                    <li><a href="/console/studio/">开通工作室</a></li>

                <li><a href="/accounts/logout/">退出</a></li>

            <li class="visible-xs"><a href="/lang/">Language</a></li>
        </ul>
    </nav>

    <div class="navbar-right searcharea">
        <form action="/search/" method="get" class="searchform">
            <div class="input-group" style="width: 320px;" >
                <input type="text" name="q" class="form-control" value="">
                <span class="input-group-btn">
                    <button class="btn btn-default btncapture" type="button" onclick="$('#capture').trigger('click');">
                        <span class="glyphicon glyphicon-camera pointer" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-default" style="color:#e8e9eb; padding: 0;">|</button>
                    <button class="btn btn-default" type="submit">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </form>

        <form action="/csearch/default/" method="post" enctype="multipart/form-data" class="hidden">
            <input type='hidden' name='csrfmiddlewaretoken' value='usido7suJqwxg9ZrMgIIUrNGX9LRteCT' />
            <input type="file" id="capture" accept="image/*" name="file"
                   onchange=" $(this).parent().submit();">
            <input type="hidden" name="action" value="upload">
        </form>
    </div>

</div>









            <div class="container">




    <div class="customizations">

        <div class="custsteps">
            <ul>
                <li class="step step1">发布</li>
                <li class="delimiter">
                    <hr>
                </li>
                <li class="step step2">审核</li>
                <li class="delimiter">
                    <hr>
                </li>
                <li class="step step3">派单</li>
                <li class="delimiter">
                    <hr>
                </li>
                <li class="step step4">交稿</li>
                <li class="delimiter">
                    <hr>
                </li>
                <li class="step step5">付款</li>
            </ul>

            <button type="button" class="btn btn-primary mw188 mt30" data-toggle="modal"
                    data-target="#createnewModal">发布新定制</button>
        </div>

        <div class="custsection">




<div class="custlist">



        <ul class="nav nav-tabs">
            <li role="presentation" class="active"><a
                    href="/collections/customization/my/page1/">我的定制</a></li>
            <li role="presentation"><a
                    href="/collections/album/page1/">主题开发</a></li>
        </ul>





</div>




        </div>







<form class="validateform" method="post" enctype="multipart/form-data"
      action="/collections/customization/my/page1/">
    <input type='hidden' name='csrfmiddlewaretoken' value='usido7suJqwxg9ZrMgIIUrNGX9LRteCT' />

    <div class="modal fade" id="createnewModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" style="margin-top: 40px;">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="modalLabel">发布新定制</h4>
                </div>

                <div class="modal-body" style="background-color: #fff;">

                    <div class="row">

                        <div class="col-sm-6">
                            <div class="page-header" style="margin-top: 0;">定制信息填写</div>


                            <div class="form-group hidden">
                                <label><strong>定制名称:</strong></label>
                                <input type="text" name="title" class="form-control"
                                       placeholder="定制名称"
                                       value="" data-msg="请填写该项内容."/>
                            </div>

                            <div class="form-group">
                                <label><strong>定制属性:</strong></label>

                                <div class="form-inline">
                                    <select name="usage" class="form-control required" data-msg="请填写该项内容.">
                                        <option value="">-- 应用 --</option>

                                            <option value="3">女装</option>

                                            <option value="49">男装</option>

                                            <option value="50">童装</option>

                                            <option value="46">泳装</option>

                                            <option value="2">床品</option>

                                            <option value="44">窗帘</option>

                                            <option value="47">沙发布</option>

                                            <option value="51">墙纸</option>

                                            <option value="1">长巾</option>

                                            <option value="97">方巾</option>

                                            <option value="48">箱包</option>

                                            <option value="4">其他</option>

                                    </select>
                                    <select name="category" class="form-control required" data-msg="请填写该项内容.">
                                        <option value="">-- 类别 --</option>

                                            <option value="28">数码花型</option>

                                            <option value="29">传统花型</option>

                                    </select>
                                    <select name="repeat" class="form-control required" data-msg="请填写该项内容.">
                                        <option value="">-- 回位 --</option>

                                            <option value="32">四方连续</option>

                                            <option value="33">独幅</option>

                                            <option value="35">二方连续</option>

                                    </select>
                                </div>

                                <div class="form-inline hidden mt5">
                                    <select name="dimension" class="form-control required" data-msg="请填写该项内容.">
                                        <option value="">-- 尺寸 --</option>
                                        <option value="reference">参考图样</option>
                                        <option value="custom">自定义</option>
                                    </select>
                                    <input type="text" name="dimensiontxt" class="form-control form-control-short hidden" placeholder="自定义" data-msg="请填写该项内容.">

                                    <select name="nature" class="form-control required" data-msg="请填写该项内容.">
                                        <option value="">-- 性质 --</option>
                                        <option value="original">原创设计</option>
                                        <option value="similar">类似风格</option>
                                        <option value="other">其他</option>
                                    </select>
                                    <input type="text" name="naturetxt" class="form-control form-control-short hidden" placeholder="其他" data-msg="请填写该项内容.">
                                </div>

                                <script>
                                    $(function () {
                                        $('select[name="dimension"]').on('change', function () {
                                            if ($(this).val() == 'custom') {
                                                $('input[name="dimensiontxt"]').removeClass('hidden').addClass('required').val('');
                                            } else {
                                                $('input[name="dimensiontxt"]').addClass('hidden').removeClass('required').val('');
                                            }
                                        });
                                        $('select[name="nature"]').on('change', function () {
                                            if ($(this).val() == 'other') {
                                                $('input[name="naturetxt"]').removeClass('hidden').addClass('required').val('');
                                            } else {
                                                $('input[name="naturetxt"]').addClass('hidden').removeClass('required').val('');
                                            }
                                        });
                                    });
                                </script>
                            </div>

                            <div class="form-group">
                                <label><strong>定制需求描述:</strong></label>
                                <textarea name="description" rows="3" class="form-control required"
                                          placeholder="关于定制的套色、尺寸、配色要求、定制需求描述等信息。"
                                          data-msg="请填写该项内容."></textarea>
                            </div>

                            <div class="form-group">
                                <label><strong>添加附件</strong></label>
                                <a href="#" class="btn btn-xs btn-success fright"
                                   onclick="$(this).parent().children('input.hidden:eq(0)').removeClass('hidden');return false;">
                                    <i class="glyphicon glyphicon-plus"></i> 添加
                                </a>



                                <input type="file" name="attachment0" class="form-control"/>
                                <input type="file" name="attachment1" class="form-control mt5 hidden"/>
                                <input type="file" name="attachment2" class="form-control mt5 hidden"/>
                                <input type="file" name="attachment3" class="form-control mt5 hidden"/>
                                <input type="file" name="attachment4" class="form-control mt5 hidden"/>

                                <p class="help-block">最多可添加5个附件，每个附件大小不超过10MB。</p>
                            </div>
                        </div>


                        <div class="col-sm-6">
                            <div class="page-header" style="margin-top: 0;">需求预算
                                <small>请填写您的需求金额与期望稿件数量。</small>
                            </div>

                            <div class="form-group">
                                <label><strong>稿件数量:</strong></label>
                                <input type="text" name="quantity" class="form-control required"
                                       placeholder="稿件数量"
                                       onkeyup="this.value=this.value.replace(/\D/g, '');" maxlength="4"
                                       value=""
                                       data-msg="请填写该项内容."/>
                            </div>

                            <div class="form-group" style="position: relative;">
                                <label><strong>完成日期:</strong></label>
                                <div class="input-group">
                                    <span class="input-group-addon">
                                        <i class="glyphicon glyphicon-calendar" style="cursor: pointer;"
                                           onclick="$(this).parents('.input-group').find('input').trigger('focus');"></i></span>
                                    <input type="text" name="deadline" class="form-control datetimepicker required"
                                           placeholder="2016-06-06" onblur="this.value=(/^\d{4}-\d{1,2}-\d{1,2}$/.test(this.value))?this.value:'';"
                                           value=""
                                           data-msg="请填写该项内容."/>
                                </div>
                            </div>

                            <div class="form-group">
                                <label><strong>稿件单价:</strong></label>
                                <input type="text" name="price" class="form-control required price"
                                       placeholder="定制价格不能低于399"
                                       onkeyup="this.value=this.value.replace(/\D/g, '');" maxlength="4"
                                       value=""
                                       data-msg="请填写该项内容."/>
                                <p class="priceinfo text-danger mt5 hidden">定制价格不能低于399</p>

                                <script>
                                    $(function () {
                                        $('.datetimepicker').datetimepicker({
                                            viewMode: 'days',
                                            format: 'YYYY-MM-DD'
                                        });

                                        $('.price').on('change', function () {
                                            var price = parseInt($(this).val());
                                            if (price < 399) {
                                                $('.price').val('');
                                                $('.priceinfo').removeClass('hidden');
                                            }
                                        });
                                    });
                                </script>
                            </div>

                            <script src="/static/js/jquery.validate-1.14.0.min.js"></script>
<script src="/static/js/jquery-validate.bootstrap-tooltip.js"></script>

                            <script>
                                $('.validateform').validate({
                                    submitHandler: function (form) {
                                        var flag = true;
                                        var params = {
                                            'action': 'checkbalance',
                                            'userid': $('.validateform input[name="userid"]').val(),
                                            'quantity': $('.validateform input[name="quantity"]').val(),
                                            'pricelevel': '50',
                                            'price': $('.validateform input[name="price"]').val(),
                                            'csrfmiddlewaretoken': $('input[name="csrfmiddlewaretoken"]').val()
                                        };
                                        $.ajax({
                                            url: '',
                                            data: params,
                                            type: 'POST',
                                            async: false,
                                            success: function (data) {
                                                data = JSON.parse(data);
                                                if (!data.success) {
                                                    flag = false;
                                                    $('.messagetip .balance').text(data.balance);
                                                    $('.messagetip .deposit').text(data.deposit);
                                                    $('.messagetip').removeClass('hidden');
                                                } else {
                                                    $('.messagetip').addClass('hidden');
                                                }
                                            }
                                        });

                                        if (flag) {
                                            $(form).find('input:file').each(function () {
                                                if ($(this).val()) {
                                                    $(form).find('.uploading').removeClass('hidden');
                                                    return false;
                                                }
                                            });

                                            form.submit();

                                            setTimeout(function () {
                                                $(form).find('[type="submit"]').attr('disabled', 'disabled');
                                            }, 100);
                                        }
                                    }
                                });
                            </script>
                        </div>

                    </div>

                </div>

                <div class="modal-footer">
                    <div class="text-center">


                        <input type="hidden" name="action" value="new">
                        <button type="submit" name="submit" value="new" class="btn btn-primary btnsubmit disabled">提交</button>

                        <label class="ml10 text-primary ft14">
                            <input type="checkbox" name="agree" onchange="$('.btnsubmit').toggleClass('disabled');"> 同意
                        </label>
                        <a href="/pages/1569/" target="_blank" class="text-danger ft14">查看最新定制规则</a>

                        <p class="uploading inline text-danger hidden" style="margin-left: 15px;">
                            <img src="/images/lightbox-ico-loading.gif" alt="Loading ..." style="margin-right: 10px;"/>
                            正在上传中, 请耐心等候 ...
                        </p>
                        <p class="messagetip inline text-primary hidden ml10 ft14">
                            当前余额: ￥<span class="balance"></span>, 押金: ￥<span class="deposit"></span>。
                            <a href="/payments/viprecharge/" target="_blank"
                               class="text-danger">您的余额不足，请充值。</a>
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</form>



    </div>


            </div>




        <div class="footer">

                <div class="container hidden-xs">
                    <div class="row row10">
                        <div class="col-sm-2 col-sm10-2">
                            <ul class="list-unstyled text-left">
                                <li><h4>我是客户</h4></li>
                                <li><a href="/pages/1755/" target="_blank">交易规则</a>
                                </li>
                                <li><a href="/pages/1754/"
                                       target="_blank">平台服务协议</a></li>

                                <li><a href="/pages/1624/" target="_blank">会员权限</a>
                                </li>
                                <li><a href="/pages/1623/" target="_blank">常见问题</a></li>
                                <li><a href="/pages/1569/"
                                       target="_blank">定制规则</a></li>
                                <li><a href="/pages/1066/" target="_blank">VIP开通</a></li>
                                <li><a href="/pages/1065/" target="_blank">购买作品</a>
                                </li>
                                <li><a href="/copyright/"
                                       target="_blank">版权登记</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-sm10-2">
                            <ul class="list-unstyled text-left">
                                <li><h4>我是设计师</h4></li>
                                <li><a href="/pages/1067/"
                                       target="_blank">成为设计师</a>
                                </li>
                                <li><a href="/console/studio/">开通工作室</a></li>
                                <li><a href="/pages/1069/"
                                       target="_blank">花型设计规范</a></li>

                            </ul>
                        </div>
                        <div class="col-sm-2 col-sm10-2">
                            <ul class="list-unstyled text-left">
                                <li><h4>知识产权</h4></li>
                                <li><a href="/pages/1617/"
                                       target="_blank">著作权概念</a></li>
                                <li><a href="/pages/1620/" target="_blank">免责声明</a>
                                </li>
                                <li><a href="/pages/1618/"
                                       target="_blank">著作权保护</a></li>
                                <li><a href="/pages/1621/"
                                       target="_blank">隐私保护</a></li>
                                <li><a href="http://www.iplawyer.cn/yplaw/front/indexAction!toCNIndex"
                                       target="_blank">法律顾问</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-sm10-2">
                            <ul class="list-unstyled text-left">
                                <li><h4>内容发布</h4></li>
                                <li><a href="/pages/1642/"
                                       target="_blank">规则修改</a></li>
                                <li><a href="/pages/1641/" target="_blank">免责声明</a>
                                </li>
                            </ul>
                        </div>
                        <div class="col-sm-2 col-sm10-2">
                            <ul class="list-unstyled text-left">
                                <li><h4>联系我们</h4></li>
                                <li>400-166-1991</li>

                                <li>service@walanwalan.com</li>
                                <li>
                                    <a href="http://wpa.qq.com/msgrd?v=3&amp;uin=3781934&amp;site=qq&amp;menu=yes"
                                       target="_blank">
                                        在线客服
                                        <img src="/static/images/v5/icon_contactus.png?v2" width="32"></a>
                                </li>
                                <li><a href="/pages/1329/?viewmode=fullscreen"
                                       target="_blank">关于我们</a></li>
                            </ul>
                        </div>
                    </div>
                </div>



            <div class="copyright">
                &copy;版权所有 浙江瓦栏文化创意有限公司
                &nbsp;
                <a href="http://www.beian.miit.gov.cn" target="_blank">增值电信业务经营许可证 浙B2-20110295</a>


                <div style="width:300px;margin:0 auto; padding:20px 0;">
                    <a target="_blank"
                       href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33060302000669"
                       style="display:inline-block;text-decoration:none;height:20px;line-height:20px;"><img
                            src="/static/images/police.png" style="float:left;"/>
                        <p style="float:left;height:20px;line-height:20px;margin: 0px 0px 0px 5px; color:#939393;">浙公网安备
                            33060302000669号</p></a>
                </div>


                <p class="text-center">

                    <a target='_blank'
                       href='http://idinfo.zjamr.zj.gov.cn/bscx.do?method=lzxx&id=3306213306210097137764'><img
                            src='/static/images/i_lo2.gif' height="40"/></a>

                </p>



            </div>



        </div>







        <script>
          var _hmt = _hmt || [];
          (function () {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?77100ad85c585043d550c8d213b45b00";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
        </script>







</body>
</html>
