<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="utf-8" />
		<title>定制</title>

		<link rel="stylesheet" type="text/css" th:href="@{/user/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/user/css/index.css}" />
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="ie=edge,chrome=1">
		<meta name="360-site-verification" content="fe248e685636c6afe831c23af1352579">

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">


		<link rel="icon" href="/favicon.ico" mce_href="/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" th:href="@{/css/venders.min.css?v106}">
		<script th:src="@{js/venders.min.js?v106}"></script>
		<script>
			var langroot = '';
			var langcode = 'zh-cn';
		</script>




		<link rel="stylesheet" type="text/css" th:href="@{/css/common.min.css?v124}">

		<script th:src="@{/js/common.min.js?v124}"></script>








		<style type="text/css">
			.popover {
				max-width: inherit;
			}
		</style>
		<script>
			$(function () {
				$('[data-toggle="popover"]').popover();
			});
		</script>
		<link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css" />

	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl">
						<a href="index.html">
							<!--<img src="img/logo.png"/>-->
						</a>
					</h1>
					<div class="fr clearfix" id="top1">
						<p class="fl" th:text="'欢迎你' + ${user.nickName}">
							<!--<a href="#" id="login">登录</a>
							<a href="#" id="reg">注册</a>-->
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="热门搜索：干花花瓶" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a th:href="@{/user//mygxin/page}"><img th:src="@{/user/img/grzx.png}"/></a>
							<a href="#" class="er1"><img th:src="@{/user/img/ewm.png}"/></a>
							<a th:href="@{/user/cart/page}"><img th:src="@{/user/img/gwc.png}"/></a>
							<p><a href="#"><img th:src="@{/user/img/smewm.png}"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a th:href="@{/user/index/page}">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a th:href="@{/user/item/detail(id=501)}">
									<dl>
										<dt><img th:src="@{/user/img/nav1.jpg}"/></dt>
										<dd>春季精选</dd>
									</dl>
								</a>
								<a th:href="@{/user/item/detail(id=301)}">
									<dl>
										<dt><img th:src="@{/user/img/nav2.jpg}"/></dt>
										<dd>原创外套</dd>
									</dl>
								</a>
								<a th:href="@{/user/item/detail(id=303)}">
									<dl>
										<dt><img th:src="@{/user/img/nav3.jpg}"/></dt>
										<dd>时尚群套</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a th:href="@{/user/item/detail(id=501)}">春季精选</a></li>
					<li><a th:href="@{/user/item/detail(id=301)}">原创外套</a></li>
					<li><a th:href="@{/user/item/detail(id=303)}">时尚裙装</a></li>
				</ul>
			</div>
		</div>

		<div class="container">


			<div class="row" style="color: #333;">
				<div class="col-sm-12">
					<h3 class="text-center">定制服务，做您的原创设计师团队</h3>
					<p class="text-center mt40">
						<img alt="" class="img-responsive inline-block"
							 src="https://wldataoss.walanwalan.com/open/articles/2020-01/ba5946ce-3358-11ea-8cde-00163e0e3c98.jpg"/>
					</p>
					<p class="text-center mt40">
						<a class="btn btn-lg btn-primary mw188" th:href="@{/user/dingzhi2/page}"
						   style="margin: 5px 30px;" >在线定制</a>

						<a class="btn btn-lg btn-primary mw188" href="javascript:void(0);" style="margin: 5px 30px;"
						   data-trigger="click" data-toggle="popover" data-html="true" data-placement="bottom"
						   data-content="<img style='width:472px;' src='https://wldataoss.walanwalan.com/open/articles/2020-01/6a8d65e0-3370-11ea-8cde-00163e0e3c98.png'>">人工服务</a>
					</p>
				</div>
				<div class="col-sm-12">
					<table class="table table-bordered text-center mt40 ft14">
						<thead>
						<tr style="background-color: #f5f5f5;">
							<th class="text-center">优势</th>
							<th class="text-center">服务项目</th>
							<th class="text-center">价格</th>
							<th class="text-center">订金</th>
							<th class="text-center">交稿</th>
							<th class="text-center">备注</th>
						</tr>
						</thead>
						<tbody>
						<tr>
							<td rowspan="2" style="vertical-align: middle;"><h3>好快省</h3></td>
							<td>单个定制</td>
							<td>299元起</td>
							<td>VIP会员20%/普通会员30%</td>
							<td>1~3个工作日</td>
							<td>具体价格看花型需求以及难易程度</td>
						</tr>
						<tr>
							<td>批量定制</td>
							<td>面议</td>
							<td>VIP会员20%/普通会员30%</td>
							<td>数量决定</td>
							<td>可包年，具体由花型需求及数量决定</td>
						</tr>
						</tbody>
					</table>
				</div>
			</div>

			<div class="custlist">



				<ul class="nav nav-tabs">
					<li role="presentation" class="active"><a
							href="/collections/customization/my/page1/">我的定制</a></li>
					<li role="presentation"><a
							href="/collections/album/page1/">主题开发</a></li>
				</ul>



				<div class="row" th:each="item,iterStat : ${biddingCustomList}">
					<div class="col-md-8">
						<h5>
							<a href="/collections/album/12476/" th:text="'订单编号:#J000'+${item.id}">

								主题开发编号: 12476 / 2021春夏女装趋势预测：白色勾边 White Outline

							</a>
							<small th:text="'截止时间：'+${item.endTime}">(2020.01.10)</small>
						</h5>
						<p th:text="${item.describe}">该板块根据wgsn趋势为客户推荐最新女装趋势花型，保持两周更新一次的频率，在首页banner页进行推荐推广，欢迎设计师投稿～</p>
					</div>
					<input th:id="cnm" th:value="${item.describe}" hidden="true"/>

					<div class="col-md-4 text-right" th:each="aa,iterStat : ${item.getBidDesigners()}">
						接单设计师：
						<a th:text="${aa.designerName}" onclick="index(this)" th:name="${aa.designerId}">aa</a>
						<a  onclick="tuikuan(this)" th:name="${aa.designerId}" th:id="${item.id}">查看</a>
						<input th:id="'price'+${aa.designerId}" th:value="${aa.price}" hidden="true"/>
						<input th:id="'remark'+${aa.designerId}" th:value="${aa.remark}" hidden="true"/>
						<input th:id="'designerId'+${aa.designerId}" th:value="${aa.designerId}" hidden="true"/>
					</div>
				</div>

			</div>

			<div class="modal fade bootstrap-iso" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
							<h4 class="modal-title" id="myModalLabel">查看报价</h4>
						</div>
						<div class="modal-body">
							<form id="form1">
								<div class="form-group">
									<label class="font-noraml">报价 *</label>
									<input id="price" name="price" type="text" class=" input-sm form-control required" style="width: 200px" disabled="disabled">
								</div>
								<div class="form-group">
									<label class="font-noraml">备注 *</label>
									<input id="id" name="id" hidden="true"/>
									<input id="designerId" name="designerId" hidden="true"/>
									<textarea id="remark" class="form-control" rows="8" name="remark" disabled="disabled"></textarea>
								</div>
							</form>
						</div>

						<div class="modal-footer">
							<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
							<button type="button" class="btn btn-primary" name="" onclick="okk()">提交</button>
						</div>
					</div><!-- /.modal-content -->
				</div><!-- /.modal -->
			</div>

		</div>




		<!-------------------login-------------------------->
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot1.png}"/></a>
						<span class="fl">人才济济</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot2.png}"/></a>
						<span class="fl">作品丰富</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot3.png}"/></a>
						<span class="fl">优秀设计师</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot4.png}"/></a>
						<span class="fl">特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">服装设计师技能共享平台</p>
		</div>


		<script th:src="@{/user/js/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/public.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/nav.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/jquery.flexslider-min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/admin/js/bootstrap.min.js?v=3.3.6}"></script>
		<script type="text/javascript">
			$(function() {
				$('#home_slider').flexslider({
					animation: 'slide',
					controlNav: true,
					directionNav: true,
					animationLoop: true,
					slideshow: true,
					slideshowSpeed:2000,
					useCSS: false
				});

			});

			function bidding(element) {
				window.location.href ="/share/user/order/bidding?designerId=" +element.name+"&id="+element.id;
			}

			function okk() {
				window.location.href ="/share/user/order/bidding?designerId=" +document.getElementById('designerId').value +"&id="+document.getElementById('id').value +"&amount="+document.getElementById('price').value;
			}

		</script>
	<script>
		function tuikuan(element){
			$("#myModal").modal("show");
			$("#id").val(element.id)
			$("#designerId").val(document.getElementById('designerId'+ element.name).value)
			$("#price").val(document.getElementById('price'+ element.name).value)
			$("#remark").val(document.getElementById('remark'+ element.name).value)



		}
	</script>
	</body>
</html>
