<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="utf-8" />
		<title>最家</title>
		<link rel="stylesheet" type="text/css" th:href="@{/user/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/user/css/index.css}" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl">
						<a href="index.html">
							<!--<img src="img/logo.png"/>-->
						</a>
					</h1>
					<div class="fr clearfix" id="top1">
						<p class="fl" th:text="'欢迎你' + ${user.nickName}">
							<!--<a href="#" id="login">登录</a>
							<a href="#" id="reg">注册</a>-->
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="热门搜索：新款" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a th:href="@{/user/mygxin/page}"><img th:src="@{/user/img/grzx.png}"/></a>
							<a href="#" class="er1"><img th:src="@{/user/img/ewm.png}"/></a>
							<a th:href="@{/user/cart/page}"><img th:src="@{/user/img/gwc.png}"/></a>
							<p><a href="#"><img th:src="@{/user/img/smewm.png}"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a th:href="@{/user/index/page}">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a th:href="@{/user/item/detail(id=501)}">
									<dl>
										<dt><img th:src="@{/user/img/nav1.jpg}"/></dt>
										<dd>春季精选</dd>
									</dl>
								</a>
								<a th:href="@{/user/item/detail(id=301)}">
									<dl>
										<dt><img th:src="@{/user/img/nav2.jpg}"/></dt>
										<dd>原创外套</dd>
									</dl>
								</a>
								<a th:href="@{/user/item/detail(id=303)}">
									<dl>
										<dt><img th:src="@{/user/img/nav3.jpg}"/></dt>
										<dd>时尚群套</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a th:href="@{/user/item/detail(id=501)}">春季精选</a></li>
					<li><a th:href="@{/user/item/detail(id=301)}">原创外套</a></li>
					<li><a th:href="@{/user/item/detail(id=303)}">时尚裙装</a></li>
					<li><a th:href="@{/user/dingzhi/page}">定制</a></li>
					<li><a th:href="@{/letter/list}">消息</a></li>
				</ul>
			</div>
		</div>
		<!-------------------------banner--------------------------->
		<div class="block_home_slider">
			<div id="home_slider" class="flexslider">
				<ul class="slides">
					<li>
						<div class="slide">
							<img src="https://static.ttkuan.com/ttkuan/kkadPic/2019-11-28/901e445143cf213b532f2187cf61cc27.jpg"/>
						</div>
					</li>
					<li>
						<div class="slide">
							<img src="https://static.ttkuan.com/ttkuan/kkadPic/2019-04-10/c69c82badb51b6e3ba94a3c9b12d6e9b.jpg"/>
						</div>
					</li>
				</ul>
			</div>
		</div>
		
		<!------------------------------thImg------------------------------>
		<div class="thImg">
			<div class="clearfix">
				<a href="vase_proList.html"><img src="https://static.ttkuan.com/ttkuan/kkadPic/2019-04-10/a53b131143e24cf2d848d1eea5e5d5f0.jpg" height="300"/>
				</a>
				<a href="proList.html"><img src="https://static.ttkuan.com/ttkuan/kkadPic/2019-12-20/1aa77c2851e2c2919485cd2a51cc1018.jpg" height="300"/></a>
				<a href="#2"><img src="https://static.ttkuan.com/ttkuan/kkadPic/2019-04-10/39a8de3ac84e811b8117428a61636427.jpg" height="300"/></a>
			</div>
		</div>
		
		<!------------------------------news------------------------------>
		<div class="news">
			<div class="wrapper">
				<h2><img th:src="@{/user/img/ih5.jpg}"/></h2>
				<!--原创外套-->
				<div class="flower clearfix tran">
					<a th:href="@{/user/item/detail(id=${items1[0].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items1[0].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items1[0].name}"></dd>
							<dd><span th:text="'¥'+${items1[0].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
					<a th:href="@{/user/item/detail(id=${items1[1].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items1[1].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items1[1].name}"></dd>
							<dd><span th:text="'¥'+${items1[1].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
					<a th:href="@{/user/item/detail(id=${items1[2].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items1[2].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items1[2].name}"></dd>
							<dd><span th:text="'¥'+${items1[2].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
				</div><div class="flower clearfix tran">
				<a th:href="@{/user/item/detail(id=${items1[3].id})}" class="clearfix">
					<dl>
						<dt>
							<span class="abl"></span>
							<img th:src="${items1[3].showImg}" height="327" width="327" />
							<span class="abr"></span>
						</dt>
						<dd th:text="${items1[3].name}"></dd>
						<dd><span th:text="'¥'+${items1[4].authorizeUnitprice}">¥ 79.00</span></dd>
					</dl>
				</a>
				<a th:href="@{/user/item/detail(id=${items1[4].id})}">
					<dl>
						<dt>
							<span class="abl"></span>
							<img th:src="${items1[4].showImg}" height="327" width="327" />
							<span class="abr"></span>
						</dt>
						<dd th:text="${items1[4].name}"></dd>
						<dd><span th:text="'¥'+${items1[4].authorizeUnitprice}">¥ 79.00</span></dd>
					</dl>
				</a>
				<a th:href="@{/user/item/detail(id=${items1[5].id})}">
					<dl>
						<dt>
							<span class="abl"></span>
							<img th:src="${items1[5].showImg}" height="327" width="327" />
							<span class="abr"></span>
						</dt>
						<dd th:text="${items1[5].name}"></dd>
						<dd><span th:text="'¥'+${items1[5].authorizeUnitprice}">¥ 79.00</span></dd>
					</dl>
				</a>
			</div>

				<h2><img th:src="@{/user/img/ih6.jpg}"/></h2>
				<!--时尚群套-->
				<div class="flower clearfix tran">
					<a th:href="@{/user/item/detail(id=${items2[0].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items2[0].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items2[0].name}"></dd>
							<dd><span th:text="'¥'+${items2[0].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
					<a th:href="@{/user/item/detail(id=${items2[1].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items2[1].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items2[1].name}"></dd>
							<dd><span th:text="'¥'+${items2[1].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
					<a th:href="@{/user/item/detail(id=${items2[2].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items2[2].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items2[2].name}"></dd>
							<dd><span th:text="'¥'+${items2[2].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
				</div>
				<div class="flower clearfix tran">
					<a th:href="@{/user/item/detail(id=${items2[3].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items2[3].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items2[3].name}"></dd>
							<dd><span th:text="'¥'+${items2[3].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
					<a th:href="@{/user/item/detail(id=${items2[4].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items2[4].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items2[4].name}"></dd>
							<dd><span th:text="'¥'+${items2[4].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
					<a th:href="@{/user/item/detail(id=${items2[5].id})}">
						<dl>
							<dt>
								<span class="abl"></span>
								<img th:src="${items2[5].showImg}" height="327" width="327" />
								<span class="abr"></span>
							</dt>
							<dd th:text="${items2[5].name}"></dd>
							<dd><span th:text="'¥'+${items2[5].authorizeUnitprice}">¥ 79.00</span></dd>
						</dl>
					</a>
				</div>

				<!--时尚群套-->

			</div>

		</div>

		<!-------------------login-------------------------->
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot1.png}"/></a>
						<span class="fl">人才济济</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot2.png}"/></a>
						<span class="fl">作品丰富</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot3.png}"/></a>
						<span class="fl">优秀设计师</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot4.png}"/></a>
						<span class="fl">特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">服装设计师技能共享平台</p>
		</div>
		
		<script th:src="@{/user/js/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/public.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/nav.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/jquery.flexslider-min.js}" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$(function() {
				$('#home_slider').flexslider({
					animation: 'slide',
					controlNav: true,
					directionNav: true,
					animationLoop: true,
					slideshow: true,
					slideshowSpeed:2000,
					useCSS: false
				});

			});
		</script>
	</body>
</html>
