<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head lang="en">
		<meta charset="utf-8" />
		<title>个人信息</title>
		<link rel="stylesheet" type="text/css" th:href="@{/user/css/public.css}"/>
		<link rel="stylesheet" type="text/css" th:href="@{/user/css/mygxin.css}" />
		<link rel="stylesheet" href="https://formden.com/static/assets/demos/bootstrap-iso/bootstrap-iso/bootstrap-iso.css" />
	</head>
	<body>
		<!------------------------------head------------------------------>
		<div class="head ding">
			<div class="wrapper clearfix">
				<div class="clearfix" id="top">
					<h1 class="fl"><a href="index.html"></a></h1>
					<div class="fr clearfix" id="top1">
						<p class="fl" th:text="'欢迎你' + ${user.nickName}">
							<!--<a href="#" id="login">登录</a>
                            <a href="#" id="reg">注册</a>-->
						</p>
						<form action="#" method="get" class="fl">
							<input type="text" placeholder="搜索" />
							<input type="button" />
						</form>
						<div class="btn fl clearfix">
							<a href="mygxin.html"><img src="img/grzx.png"/></a>
							<a href="#" class="er1"><img src="img/ewm.png"/></a>
							<a href="cart.html"><img src="img/gwc.png"/></a>
							<p><a href="#"><img src="img/smewm.png"/></a></p>
						</div>
					</div>
				</div>
				<ul class="clearfix" id="bott">
					<li><a th:href="@{/user/index/page}">首页</a></li>
					<li>
						<a href="#">所有商品</a>
						<div class="sList">
							<div class="wrapper  clearfix">
								<a th:href="@{/user/item/detail(id=501)}">
									<dl>
										<dt><img th:src="@{/user/img/nav1.jpg}"/></dt>
										<dd>春季精选</dd>
									</dl>
								</a>
								<a th:href="@{/user/item/detail(id=301)}">
									<dl>
										<dt><img th:src="@{/user/img/nav2.jpg}"/></dt>
										<dd>原创外套</dd>
									</dl>
								</a>
								<a th:href="@{/user/item/detail(id=303)}">
									<dl>
										<dt><img th:src="@{/user/img/nav3.jpg}"/></dt>
										<dd>时尚群套</dd>
									</dl>
								</a>
							</div>
						</div>
					</li>
					<li><a th:href="@{/user/item/detail(id=501)}">春季精选</a></li>
					<li><a th:href="@{/user/item/detail(id=301)}">原创外套</a></li>
					<li><a th:href="@{/user/item/detail(id=303)}">时尚裙装</a></li>
				</ul>
			</div>
		</div>
		<!------------------------------idea------------------------------>
		<div class="address mt" id="add">
			<div class="wrapper clearfix">
				<a th:href="@{/user/index/page}" class="fl">首页</a>
				<span>/</span>
				<a th:href="@{/user/mygxin/page}" class="on">个人中心</a>
			</div>
		</div>
		
		<!------------------------------Bott------------------------------>
		<div class="Bott">
			<div class="wrapper clearfix">
				<div class="zuo fl">
					<h3>
						<a href="#"><img th:src="${user.headerUrl}" height="92" width="92"/></a>
						<p class="clearfix"><span class="fl" th:text="${user.nickName}">[羊羊羊]</span><span class="fr">[退出登录]</span></p>
					</h3>
					<div>
						<h4>我的交易</h4>
						<ul>
							<li><a th:href="@{/user/cart/page}">我的购物车</a></li>
							<li><a th:href="@{/user/myorderq/page}">我的订单</a></li>
							<li><a href="myprod.html">评价晒单</a></li>
						</ul>
						<h4>个人中心</h4>
						<ul>
							<li  class="on"><a th:href="@{/user/mygxin/page}">我的中心</a></li>
							<li><a href="address.html">地址管理</a></li>
						</ul>
						<h4>账户管理</h4>
						<ul>
							<li><a th:href="@{/user/setting}">个人信息</a></li>
							<li><a href="remima.html">修改密码</a></li>
						</ul>
					</div>
				</div>
				<div class="you fl bootstrap-iso">
					<div class="tx clearfix">
						<div class="fl clearfix">
							<a href="#" class="fl"><img th:src="${user.headerUrl}" height="92" width="92"/></a>
							<p class="fl"><span th:text="${user.nickName}">六六六</span><a href="mygrxx.html">修改个人信息></a></p>
						</div>
						<div class="fr" th:text="'绑定邮箱:' + ${user.email}">绑定邮箱：12****4@**.com</div>
					</div>
					<div class="bott">
						<div class="clearfix">
							<a href="#" class="fl"><img th:src="@{/user/img/gxin1.jpg}"/></a>
							<p class="fl"><span>待支付的订单：<strong>0</strong></span>
								<a href="myorderq.html">查看待支付订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img th:src="@{/user/img/gxin2.jpg}"/></a>
							<p class="fl"><span>待收货的订单：<strong>0</strong></span>
								<a href="myorderq.html">查看待收货订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img th:src ="@{/user/img/gxin3.jpg}"/></a>
							<p class="fl"><span>待评价的订单：<strong>0</strong></span>
								<a href="myprod.html">查看待评价订单></a>
							</p>
						</div>
						<div class="clearfix">
							<a href="#" class="fl"><img th:src="@{/user/img/gxin4.jpg}"/></a>
							<p class="fl"><span>喜欢的商品：<strong>0</strong></span>
								<a href="#">查看喜欢的商品></a>
							</p>
						</div>
					</div>

				</div>

			</div>
			</div>




		<!--返回顶部-->
		<div class="gotop">
			<a th:href="@{/user/cart/page}">
			<dl>
				<dt><img th:src="@{/user/img/gt1.png}"/></dt>
				<dd>去购<br />物车</dd>
			</dl>
			</a>
			<a href="#" class="dh">
			<dl>
				<dt><img th:src="@{/user/img/gt2.png}"/></dt>
				<dd>联系<br />客服</dd>
			</dl>
			</a>
			<a th:href="@{/user/mygxin/page}">
			<dl>
				<dt><img th:src="@{/user/img/gt3.png}"/></dt>
				<dd>个人<br />中心</dd>
			</dl>
			</a>
			<a href="#" class="toptop" style="display: none">
			<dl>
				<dt><img th:src="@{/user/img/gt4.png}"/></dt>
				<dd>返回<br />顶部</dd>
			</dl>
			</a>
			<p>400-800-8200</p>
		</div>
		<!--footer-->
		<div class="footer">
			<div class="top">
				<div class="wrapper">
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot1.png}"/></a>
						<span class="fl">人才济济</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot2.png}"/></a>
						<span class="fl">作品丰富</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot3.png}"/></a>
						<span class="fl">优秀设计师</span>
					</div>
					<div class="clearfix">
						<a href="#2" class="fl"><img th:src="@{/user/img/foot4.png}"/></a>
						<span class="fl">特色服务</span>
					</div>
				</div>
			</div>
			<p class="dibu">服装设计师技能共享平台</p>
		</div>

		<script th:src="@{/user/js/jquery-1.12.4.min.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/public.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/user/js/user.js}" type="text/javascript" charset="utf-8"></script>
		<script th:src="@{/js/global.js}"></script>
		<script th:src="@{/js/letter.js}"></script>
	</body>
</html>
