<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
	<meta charset="utf-8" />
	<title>详情页</title>
	<link rel="stylesheet" type="text/css" th:href="@{/user/css/public.css}"/>
	<link rel="stylesheet" type="text/css" th:href="@{/user/css/proList.css}" />
</head>
	<body>
	<!------------------------------head------------------------------>
	<div class="head">
		<div class="wrapper clearfix">
			<div class="clearfix" id="top">
				<h1 class="fl">
					<a href="index.html">
						<!--<img src="img/logo.png"/>-->
					</a>
				</h1>
				<div class="fr clearfix" id="top1">
					<p class="fl" th:text="'欢迎你' + ${user.nickName}">
						<!--<a href="#" id="login">登录</a>
                        <a href="#" id="reg">注册</a>-->
					</p>
					<form action="#" method="get" class="fl">
						<input type="text" placeholder="热门搜索：新品" />
						<input type="button" />
					</form>
					<div class="btn fl clearfix">
						<a th:href="@{/user//mygxin/page}"><img th:src="@{/user/img/grzx.png}"/></a>
						<a href="#" class="er1"><img th:src="@{/user/img/ewm.png}"/></a>
						<a th:href="@{/user/cart/page}"><img th:src="@{/user/img/gwc.png}"/></a>
						<p><a href="#"><img th:src="@{/user/img/smewm.png}"/></a></p>
					</div>
				</div>
			</div>
			<ul class="clearfix" id="bott">
				<li><a th:href="@{/user/index/page}">首页</a></li>
				<li>
					<a href="#">所有商品</a>
					<div class="sList">
						<div class="wrapper  clearfix">
							<a th:href="@{/user/item/detail(id=501)}">
								<dl>
									<dt><img th:src="@{/user/img/nav1.jpg}"/></dt>
									<dd>春季精选</dd>
								</dl>
							</a>
							<a th:href="@{/user/item/detail(id=301)}">
								<dl>
									<dt><img th:src="@{/user/img/nav2.jpg}"/></dt>
									<dd>原创外套</dd>
								</dl>
							</a>
							<a th:href="@{/user/item/detail(id=303)}">
								<dl>
									<dt><img th:src="@{/user/img/nav3.jpg}"/></dt>
									<dd>时尚群套</dd>
								</dl>
							</a>
						</div>
					</div>
				</li>
				<li><a th:href="@{/user/item/detail(id=501)}">春季精选</a></li>
				<li><a th:href="@{/user/item/detail(id=301)}">原创外套</a></li>
				<li><a th:href="@{/user/item/detail(id=303)}">时尚裙装</a></li>
				<li><a th:href="@{/user/dingzhi/page}">定制</a></li>
			</ul>
		</div>
	</div>
		<!-----------------address------------------------------->
		<div class="address">
			<div class="wrapper clearfix">
				<a th:href="@{/user/index/page}">首页/</a>
				<a href="#" class="on" th:text="${item.name}">【最家】非洲菊仿真花干花</a>
			</div>
		</div>
		<!-----------------------Detail------------------------------>
		<div class="detCon">
			<div class="proDet wrapper">
				<div class="proCon clearfix">
					<div class="proImg fl">
						<img class="det" th:src="${item.showImg}" />
						<div class="smallImg clearfix">
							<img th:src="${item.showImg}" th:data-src="${item.showImg}">
							<img th:src="${item.showImg2}" data-src="img/temp/proDet02_big.jpg">
							<img th:src="${item.showImg3}" data-src="img/temp/proDet03_big.jpg">
						</div>
					</div>
					<div class="fr intro">
						<div class="title">
							<h4 th:text="${item.name}">【最家】非洲菊仿真花干花</h4>
							<p th:text="${item.describe}">【破损补寄】【适合放室内、卧室、书房、餐桌、办公室、客厅、电视柜等地方】【无理由退换货】【包邮】【白色现代简约花瓶】</p>
							<span th:text="'价格￥'+${item.authorizeUnitprice}">授权价格￥59.90</span>
						</div>
						<div class="proIntro">
							<div class="num clearfix">
								<img class="fl sub" th:src="@{/user/img/temp/sub.jpg}">
								<span class="fl" contentEditable="true">1</span>
								<img class="fl add" th:src="@{/user/img/temp/add.jpg}">
								<p class="please fl">请选择商品属性!</p>
							</div>
						</div>
						<div class="btns clearfix">
							<a th:href="@{/user/order/page(itemId = ${item.id})}"><p class="buy fl">立即购买</p></a>
							<a th:href="@{/user/cart/add(itemId = ${item.id})}"><p class="cart fr">加入购物车</p></a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="introMsg wrapper clearfix" >
			<div class="msgL fl">
				<div class="msgTit clearfix">
					<a class="on">商品详情</a>
					<a th:href="'/share/comment/detail/' + ${item.id}">所有评价</a>
				</div>
				<div class="msgAll">
					<div class="msgImgs">
						<img th:src="${item.showImg}" width="888px">
						<img th:src="${item.showImg2}" width="888px">
						<img th:src="${item.showImg3}" width="888px">
					</div>
			</div>

				<!--footer-->
				<div class="footer">
					<div class="top">
						<div class="wrapper">
							<div class="clearfix">
								<a href="#2" class="fl"><img th:src="@{/user/img/foot1.png}"/></a>
								<span class="fl">人才济济</span>
							</div>
							<div class="clearfix">
								<a href="#2" class="fl"><img th:src="@{/user/img/foot2.png}"/></a>
								<span class="fl">作品丰富</span>
							</div>
							<div class="clearfix">
								<a href="#2" class="fl"><img th:src="@{/user/img/foot3.png}"/></a>
								<span class="fl">优秀设计师</span>
							</div>
							<div class="clearfix">
								<a href="#2" class="fl"><img th:src="@{/user/img/foot4.png}"/></a>
								<span class="fl">特色服务</span>
							</div>
						</div>
					</div>
					<p class="dibu">服装设计师技能共享平台</p>
				</div>


		<script src="js/jquery-1.12.4.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/jquery.SuperSlide.2.1.1.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/public.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/nav.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/pro.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/cart.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			jQuery(".bottom").slide({titCell:".hd ul",mainCell:".bd .likeList",autoPage:true,autoPlay:false,effect:"leftLoop",autoPlay:true,vis:1});
		</script>
	</body>
</html>
