<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xuzi.share.dao.DesignerMapper" >
  <resultMap id="BaseResultMap" type="com.xuzi.share.entity.Designer" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="nick_name" property="nickName" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="header_url" property="headerUrl" jdbcType="VARCHAR" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="identity_card" property="identityCard" jdbcType="VARCHAR" />
    <result column="phone" property="phone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="type" property="type" jdbcType="VARCHAR" />
    <result column="sample_work" property="sampleWork" jdbcType="VARCHAR" />
    <result column="sample_work_describe" property="sampleWorkDescribe" jdbcType="VARCHAR" />
    <result column="qq" property="qq" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="blog" property="blog" jdbcType="VARCHAR" />
    <result column="company" property="company" jdbcType="VARCHAR" />
    <result column="certificate" property="certificate" jdbcType="VARCHAR" />
    <result column="personal_resume" property="personalResume" jdbcType="VARCHAR" />
    <result column="extended_field" property="extendedField" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="ResultMapWithBLOBs" type="com.xuzi.share.entity.Designer" extends="BaseResultMap" >
    <result column="describe" property="describe" jdbcType="LONGVARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, nick_name, status, header_url, `name`, identity_card, phone,
    email, `type`, sample_work, sample_work_describe, qq, wechat, address, blog, company,
    certificate, personal_resume, extended_field
  </sql>
  <sql id="Blob_Column_List" >
    `describe`
  </sql>
  <select id="selectByPrimaryKey" resultMap="ResultMapWithBLOBs" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from designer
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    FROM  `designer`
  </select>
  <select id="findPage" resultMap="BaseResultMap">
    select <include refid="Base_Column_List"></include>
    from `designer`
    limit #{offset}, #{limit}
  </select>
  <select id="selectRows" resultType="int">
    select count(id) from `designer`
  </select>
  <select id="findByUserName" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List"/>
    from `designer`
    where username = #{username}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from designer
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xuzi.share.entity.Designer" useGeneratedKeys="true" keyProperty="id">
    insert into designer (id, username, password, 
      nick_name, status, header_url, 
      `name`, identity_card, phone,
      email, `type`, sample_work,
      sample_work_describe, qq, wechat, 
      address, blog, company, 
      certificate, personal_resume,
      extended_field, `describe`)
    values (#{id,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{nickName,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, #{headerUrl,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{identityCard,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{sampleWork,jdbcType=VARCHAR}, 
      #{sampleWorkDescribe,jdbcType=VARCHAR}, #{qq,jdbcType=VARCHAR}, #{wechat,jdbcType=VARCHAR}, 
      #{address,jdbcType=VARCHAR}, #{blog,jdbcType=VARCHAR}, #{company,jdbcType=VARCHAR}, 
      #{certificate,jdbcType=VARCHAR}, #{personalResume,jdbcType=VARCHAR},
      #{extendedField,jdbcType=VARCHAR}, #{describe,jdbcType=LONGVARCHAR})
  </insert>

  <update id="updateByPrimaryKey" parameterType="com.xuzi.share.entity.Designer" >
    update designer
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="nickName != null" >
        nick_name = #{nickName,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="headerUrl != null" >
        header_url = #{headerUrl,jdbcType=VARCHAR},
      </if>
      <if test="name != null" >
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="identityCard != null" >
        identity_card = #{identityCard,jdbcType=VARCHAR},
      </if>
      <if test="phone != null" >
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="type != null" >
        `type` = #{type,jdbcType=VARCHAR},
      </if>
      <if test="sampleWork != null" >
        sample_work = #{sampleWork,jdbcType=VARCHAR},
      </if>
      <if test="sampleWorkDescribe != null" >
        sample_work_describe = #{sampleWorkDescribe,jdbcType=VARCHAR},
      </if>
      <if test="qq != null" >
        qq = #{qq,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="address != null" >
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="blog != null" >
        blog = #{blog,jdbcType=VARCHAR},
      </if>
      <if test="company != null" >
        company = #{company,jdbcType=VARCHAR},
      </if>
      <if test="certificate != null" >
        certificate = #{certificate,jdbcType=VARCHAR},
      </if>
      <if test="personalResume != null" >
        personal_resume = #{personalResume,jdbcType=VARCHAR},
      </if>
      <if test="extendedField != null" >
        extended_field = #{extendedField,jdbcType=VARCHAR},
      </if>
      <if test="describe != null" >
        `describe` = #{describe,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>


</mapper>